@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/** -------------- CSS General Ilymar Travel-------------- */
body{
    font-family: 'Kanit','Lato', 'Mulish', sans-serif;
}
.ilymartravel-web .navbar{
    padding: 0;
}
.ilymartravel-web nav{
    -webkit-box-shadow: 0px 13px 12px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 13px 12px -14px rgba(0,0,0,0.75);
    box-shadow: 0px 13px 12px -14px rgba(0,0,0,0.75);
}
.ilymartravel-web .fixed-top >.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 2rem;
}
/** -------------- CSS Nav Social Media --------------- */
.nav-social-media-up{
    width: 100%;
    height: 34px;
    background-color: #00b2d5;
    /*background: rgb(0,154,185);
    background: linear-gradient(90deg, rgba(0,154,185,1) 0%, rgba(0,165,198,1) 39%, rgba(0,178,213,1) 100%);*/
}
.social-media-top{
    float: right;
    margin-right: 100px;
    padding-top: 6px;
}
.social-media-top a{
    color: #f8f9fa;
    text-decoration: none;
}
.social-media-top a:hover{
    color:none;
}
.social-media-top i{
    padding-left: 14px;
    font-size: 20px;
}
.social-media-top span{
    padding-left: 4px;
}
.nav-header-top .navbar-brand{
    padding: 0;
    margin-right: 4rem;
}
.nav-header-top a>img{
    width: 110px;
}
/** -------------- CSS Cuerpo General -------------- */
main{
    margin-top: 92px; 
}
.masthead{
    position: relative;
    background-color: #00b2d5;
    height: 450px;
    background-image: url(../img/israel-turquia.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.dlsx{
    margin-top: 130px;
    width: 80%;
    height: auto;
    background: rgb(234,31,13);
    background: linear-gradient(90deg, rgba(234,31,13,1) 0%, rgba(251,99,3,1) 100%);
    display: table;
    transform: skewx(-43deg);
    box-shadow: 0px 13px 12px -14px rgb(0 0 0 / 75%);
}
.dlsx h1{ 
    padding: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #f8f9fa;
    transform: skew(31deg, 0deg);
}
.dlsy{
    margin-top: -22px;
    width: 67%;
    height: auto;
    background: rgb(234,31,13);
    background-color: white;
    display: table;
    transform: skewx(-43deg);
    box-shadow: 0px 13px 12px -14px rgb(0 0 0 / 75%);
}
.dlsy h2{ 
    padding: 8px;
    font-size: 1.8rem;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    color: #fa5f03;
    transform: skew(31deg, 0deg);
}
/** -------------- CSS Lista de Destinos General -------------- */
.dest-home{
    background-color: #00b2d5;
    position:relative;
}
.dtsx{
    position: absolute;
    left: 160px;
    padding: 0 40px;
    margin-top: -52px;
    width: auto;
    height: auto;
    background: rgb(234,31,13);
    background: linear-gradient(90deg, rgba(234,31,13,1) 0%, rgba(251,99,3,1) 100%);
    display: table;
    transform: skewx(-43deg);
    z-index: 1000;
    box-shadow: 0px 13px 12px -14px rgb(0 0 0 / 75%);
}
.dtsx h2{ 
    padding: 8px;
    margin-bottom: 0;
    text-align: center;
    color: #f8f9fa;
    transform: skew(31deg, 0deg);
}
.dest-home > .frm-list-home{
    width: 89%;
    height: 290px;
    background-color: #f8f9fa;
    border-radius: 20px;
    margin: auto;
    position: absolute;
    top: 14%;
    left: 0;
    right: 0;
}
    /** -------- Contenido carrucel --------**/
.mainv{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-containerv{
    max-width: 90%;
    width: 100%;
    background-color: #EFEFEF;
    padding: 24px 0;
    margin: 60px 0;
    border-radius: 25px;
}
.slider-contentv{
    margin: 2px 40px;
    overflow: hidden;
    border-radius: 25px;
}
.cardx{
    /*width: 320px;*--------- Dimenciones del cuadrado */
    width: 263.5px;
    max-height: 412px;
    min-height: 412px;
    height: 100%;
    border-radius: 25px;
    background-color: #FFF;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 20px 20px -14px rgb(42 61 95 / 40%), 0 0 10px rgb(45 53 66 / 50%);
    margin: 30px 0;
}
.image-contentv,
.card-contentv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-contentv{
    position: relative;
    row-gap:5px;
    padding: 0;
    height: 230px;
    overflow: hidden;
    border-radius: 25px 25px 0 25px;
}
.image-contentv .yuju{
    max-width: 100%;
    width:100%;
}

.image-contentv .img-sl-cont{
    border-radius: 25px 25px 0 25px;
    width:calc(100% + 60px)!important;
}
.yoli{
    width: 100%;
    height: 40px;
    background: #0000007a;
    position: absolute;
    border-radius: 0 0 0px 25px;
    bottom: 0;
    -webkit-box-shadow: 46px 4px 36px 4px rgb(0 0 0 / 90%);
    box-shadow: 42px 4px 36px 4px rgb(0 0 0 / 90%);
}
/*---------------------------- PRUEBA------------*/

.overlayv{
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width:100%;
    background-color:#4070F4; 
    border-radius: 25px 25px 0 25px;
}
.pxs::before,
.pxs::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 141px;
    height: 40px;
    width: 40px;
    background-color: #212529; 
}
.pxs::after{
    border-radius: 0 25px 0 0;
    background-color: #ffffff; 
}
/*----------------fondo azul*-------------*/
.overlayv::before,
.overlayv::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070F4; 
}
.overlayv::after{
    border-radius: 0 25px 0 0;
    background-color: #fff; 
}
/*---------------- Fin fondo azul*-------------*/
.card-imagev{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background:#FFF;
    padding: 3px; 
}
.card-imagev .card-imgv{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border:4px solid red;
}
.namev{
    font-size: 18px;
    font-weight: 500;
    color:#333;
    margin: 12px 4px;
    z-index: 1000;
}
.despction{
    font-size: 14px;
    color:#707070;
    text-align: center;
    overflow: hidden;
    height: 60px;
}
.buttonv{
    border: none;
    font-size: 16px;
    color:#FFF;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    margin:0; 
    cursor: pointer;
    transition: all 0.3s ease;
}
.buttonv:hover{
    background: #2f59cb;
}
.swiper-naVBtn{
    color: #6e93f7;
    transition: color 0.3s ease;
}
.swiper-naVBtn:hover{
    color:#4070f4;
}
.swiper-naVBtn::before,
.swiper-naVBtn::after{
    font-size: 40px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination-bullet{
    background-color: #6e93f7;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color:#4070f4;
}
@media screen and (max-width: 768px){
    .slider-content{
        margin: 0 10px;
    }
    .swiper-naVBtn{
        display: none;
    }
}
@media screen and (max-width: 576px){
    .dtsx{
        left: 90px;
        display: none;
    }
    .slider-containerv{
    max-width: none;
    border-radius: 0px;
    }
    .slider-contentv{
        margin: 0px 12px;
    }
    .cardx{
        border-radius: 0px;
    }
    .image-contentv{
        border-radius: 0px;
    }
    .yoli, .pxs{
        display: none;
    }
}

/** -------------- CSS Booking General -------------- */
.drsx{
    position: absolute;
    left: 160px;
    top:-158px;
    padding: 0 40px;
    margin-top: 130px;
    width: auto;
    height: auto;
    background: rgb(234,31,13);
    background: linear-gradient(90deg, rgba(234,31,13,1) 0%, rgba(251,99,3,1) 100%);
    display: table;
    transform: skewx(-43deg);
    z-index: 1000;
    box-shadow: 0px 13px 12px -14px rgb(0 0 0 / 75%);
}
.drsx h2{ 
    padding: 8px;
    margin-bottom: 0;
    text-align: center;
    color: #f8f9fa;
    transform: skew(31deg, 0deg);
}
.list-booking-home{
    position: relative;
    min-height: 360px;
    height: 100%;
    background-image: url(../img/turquia2.jpg);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: cover;
    background-position: center center;
}
.list-booking-home > .container{
    position: relative;
    z-index: 1010;
}
.list-booking-home::after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to left, rgba(255, 0, 0, 0), rgb(29 12 12 / 89%));
}
.inf-edit-booking{
    color: #f8f9fa;
    margin-top: 64px;
}
.sello{
    padding: 5px;
    background: linear-gradient(35deg, #e91e0d 0%, #fd6601 100%);
    border-radius: 50%;
    box-shadow: 1px 1px 5px #000;
    text-align: center;
    height: 150px;
    width: 150px;
    z-index: 1;
    margin: 20% auto 0;
}
.sello span{
    color: #fff;
    font-size: 25px;
}
.sello span.tera{
    display: block;
    margin-top: -22px;
    font-size: 35px;
    font-weight: 600;
}
.sello-innir{
    height: 140px;
    width: 140px;
    border: 1px dashed #fff;
    border-radius: 50%;
    padding: 36px 0;
    background: linear-gradient(35deg, #e91e0d 0%, #fd6601 100%);
}
@media screen and (max-width: 576px){
    .drsx{
        left: 90px;
        display: none
    }
}
/** -------------- CSS Comment General -------------- */
.dcsx{
    position: absolute;
    left: 160px;
    /*top:-100px;*/
    padding:0 40px;
    /*margin-top: 130px;*/
    margin-top: -51px;
    width: auto;
    height: auto;
    background: rgb(234,31,13);
    background: linear-gradient(90deg, rgba(234,31,13,1) 0%, rgba(251,99,3,1) 100%);
    display: table;
    transform: skewx(-43deg);
    z-index: 1000;
    box-shadow: 0px 13px 12px -14px rgb(0 0 0 / 75%);
}
.dcsx h2{ 
    padding: 8px;
    margin-bottom: 0;
    text-align: center;
    color: #f8f9fa;
    transform: skew(31deg, 0deg);
}
.list-comment-home{
    background-color: #fbb03b;
    position:relative;
}
.list-comment-home > .mainc{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-comment-home > .mainc > .comment-home{
    max-width: 90%;
    width: 100%;
    background-color: #EFEFEF;
    padding: 24px 0;
    margin: 60px 0;
    border-radius: 25px;
}
/************************************************************/
.list-comment-home > .mainc > .comment-home > .cardv-group{
    margin: 20px 40px 40px 40px;
    border-radius: 25px;
}
.comment-home > .cardv-group > .col > .card{
    border-radius: 25px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 20px 20px -14px rgb(42 61 95 / 40%), 0 0 10px rgb(45 53 66 / 50%);
}
.rank-comt{
    padding: 10px 0;
}
.rank-comt i{
    color: #fbb03b;
    font-size: 1.2rem;
}
.cardv-group > .col > .card > .card-footer{
    border-radius: 0 0 25px 25px;
    background-color: #ffffff;
    border-top: 1px dashed #cbc7c7;
}
@media screen and (max-width: 576px){
    .dcsx{
        display: none;
    }
    .dbck-movil{
        text-align: center;
        margin: 20px auto; 
    }
    .dbck-movil h4{
        font-size: 18px;
    }

    .list-comment-home > .mainc > .comment-home{
        max-width: 100%;
        border-radius: 0;
        background-color: #FFF;
    }
    .list-comment-home > .mainc > .comment-home > .cardv-group{
        margin: 20px 12px 40px 12px;
    }
    .comment-home > .cardv-group > .col > .card{
        border-radius: 0px;
        box-shadow: 0 20px 20px -14px rgb(42 61 95 / 40%), 0 0 10px rgb(45 53 66 / 1%);
    }
}
/** -------------- CSS Footer General -------------- */
.inf-footer{
    background-color: #3e3d3d;
    min-height: 200px;
    height: 100%;
}
.inf-footer .lk{
    padding: 10px 0 15px;
    position: relative;
    z-index: 1;
}
.inf-footer .footer-links{
    padding: 30px 0 41px;
    border-top: 1px dashed #cccccc3b;
    position: relative;
    z-index: 1;
    font-size: 14px;
}
.inf-footer h4{
    color: #fbb03b;
    font-size: 1.4rem;
}
.inf-footer ul,li,a{
    color:#dbd5d5;
    font-size: 1rem;
}
.inf-footer ul{
    padding: 0;
}
.inf-footer ul>li{
    list-style: none;
    text-align: justify;
}
.inf-footer ul>li>a{
    text-decoration: none;
}
.inf-footer ul>li>a:hover{
    color:#fbb03b;
}
.social-media-buttom a{
    font-size: 2rem;
    padding-right: 10px;
    color: #dbd5d5;
    text-decoration: none;
}
.social-media-buttom a:hover{
    color:none;
}
/** -------------- CSS Footer Comentario -------------- */
.inf-ilymar-travel{
    height: 34px;
    color: #dbd5d5;
    font-size: 0.8rem;
    background: #302f2f;
}
.inf-ilymar-travel p{
    margin: 0;
}

/*
}*/